{% extends 'base.html.twig' %}

{% block title %} {{ 'title.details_order'|trans }} {{ parent() }}
{% endblock %}

{% block body %}

	<!-- Orders -->
	<section class="container py-lg-4 my-4 section">
		<h1 class="h2 section-title">{{ 'title.details_order'|trans }}</h1>
		<a href="{{ path('account_order') }}">{{ 'menu.back_to_orders'|trans }}</a>
		<hr>
		<strong>{{ 'order.reference'|trans }}</strong>
		<small>{{order.reference}}</small><br>
		<strong>{{ 'order.state'|trans }}</strong>
		{% if order.state == 1 %} {{ 'order_state.paid'|trans }}
		{% elseif order.state == 2 %} {{ 'order_state.preparation'|trans }}
		{% elseif order.state == 3 %} {{ 'order_state.delivery'|trans }}
		{% endif %}<br>
		<strong>{{ 'order.date'|trans }}</strong> {{order.createdAt|date('d-m-Y')}}<br>
		<strong>{{ 'order.carrier_name'|trans }}</strong> {{order.carrierName}}
		<br>
		<hr>
		<table class="table mt-4">
			<thead>
				<tr>
					<th scope="col">{{ 'table.product'|trans }}</th>
					<th scope="col">{{ 'table.amount'|trans }}</th>
					<th scope="col">{{ 'table.unit_price'|trans }}</th>
					<th scope="col">{{ 'table.total'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.orderDetails %}
					<tr>
						<td>{{ product.product }}</td>
						<td>x{{ product.quantity }}</td>
						<td>{{ price(product.price) }}
							&euro;</td>
						<td>{{ price(product.total) }}
							&euro;</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>

		<div class="text-right">
			<strong>{{ 'order.subtotal'|trans }}
			</strong> {{ price(order.getTotal) }}
			&euro;
			<br>
			<strong>{{ 'order.carrier_price'|trans }}
			</strong> {{ price(order.carrierPrice) }}
			&euro;
			<br>
			<strong>{{ 'order.total_vat'|trans }}
			</strong> {{ price(order.carrierPrice + order.getTotal) }}
			&euro;
		</div>

	</section>
	{% include "base/_brand.html.twig" %}
{% endblock %}
