{% extends 'base.html.twig' %}

{% block title %} {{ 'title.change_password'|trans }}
{% endblock %}

{% block body %}

	<!-- Account Password -->
	<section class="container py-lg-4 my-4 section">
		<h1 class="h2 section-title">{{ 'title.change_password'|trans }}</h1>
		<div class="row justify-content-center">
			<p>
				<a href="{{ path('account') }}">{{ 'menu.back_to_account'|trans }}</a>
			</p>
			{% for notification in app.flashes('notification')  %}
				<div class="alert alert-info"> {{notification}}</div>
			{% endfor %} {{ form(form) }}

			</div>
		</section>
		{% include "base/_brand.html.twig" %}
	{% endblock %}
