{% extends 'base.html.twig' %}

{% block title %}Connexion {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container section">
		<div class="row justify-content-center">
			<h1 class="h2 section-title">Connectez-vous à votre compte</h1>
			<div class="col-md-6 shadow rounded-3 py-3 py-sm-4 mb-2">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que {{ app.user.username }},
							<a href="{{ path('app_logout') }}">Se déconnecter</a>
						</div>
					{% endif %}

					<div class="mb-3">
						<label for="inputEmail" class="form-label">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>

					<div class="mb-3">
						<label for="inputPassword" class="form-label">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					</div>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
					Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html
							
					<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me"> Remember me
					</label>
					</div>
					#}

					<button class="btn btn-info text-light" type="submit">
						Connexion
					</button>
					<hr>
					<p>
						<a href="{{ path('app_forgot_password_request') }}" class="text-primary">Mot de passe oublié</a>
						? ou souhaitez-vous
						<a href="{{ path('app_register') }}" class="text-primary">créer un compte ?</a>
					</p>
				</form>
			</div>
		</div>
	</section>
	{% include "base/_brand.html.twig" %}
{% endblock %}
