{% extends 'base.html.twig' %}

{% block title %} {{ 'title.order_cancel'|trans }} {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container section pt-5">
		<h1 class="section-title h2">{{ 'title.order_cancel'|trans }}</h1>
		<p>{{ 'content.order_cancel'|trans({'reference': order.reference, 'user_email': order.user.email })|raw }}
			<hr>
			<a href="{{ path('order') }}" class="btn btn-success">{{ 'action.retry_payment'|trans }}</a>
		</p>
	</section>
	{% include "base/_brand.html.twig" %}
{% endblock %}
