{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}
{% endblock %}

{% block carousel %}{% endblock %}

{% block body %}
	{% include "base/_brand.html.twig" %}
	<!-- Products grid (Best products)-->
	<section class="container-fluid section">
		<h2 class="section-title">Meilleures ventes</h2>
		<div
			class="row mx-3" id="list">
			<!-- Product-->
			<div class="col-lg-2 col-md-3 col-sm-6 px-2 mb-4 item">
				<article class="product-card">
					<a class="product-img-top d-block overflow-hidden" href="#"><img src="{{ asset('uploads/7rK3P5yvB.jpg') }}" alt="PS5 kimetsu no yaiba the hinokami chronicles"></a>
					<div class="product-body">
						<span class="product-meta fs-xs">Jeu neuf</span>
						<a href="#">
							<h3 class="product-title fs-base">PS5 kimetsu no yaiba the hinokami chronicles</h3>
						</a>
						<div class="d-flex">
							<div class="product-price">
								<span class="fs-lg">59.<small>99</small>
								</span>
							</div>
						</div>
					</div>
				</article>
			</div>
			{% for product in bestProducts %}
				<!-- Product-->
				<div class="col-lg-2 col-md-3 col-sm-6 px-2 mb-4 item">
					<article class="product-card">
						<a class="product-img-top d-block overflow-hidden" href="{{ path('product', { 'slug' : product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}"></a>
						<div class="product-body">
							<span class="product-meta fs-xs">{{ product.category }}</span>
							<a href="{{ path('product', { 'slug' : product.slug }) }}">
								<h3 class="product-title fs-base">{{ product.name }}</h3>
							</a>
							<div class="d-flex">
								<div class="product-price">
									<span class="fs-lg">{{ price(product.price) }}</span>
								</div>
							</div>
						</div>
					</article>
				</div>
			{% else %}
				<p>Notre selection de produits est vide.</p>
			{% endfor %}
			<div class="text-center pt-3">
				<button id="loadMore" class="btn btn-outline-accent" data-load-more-nb-element="6">Plus de produits ></button>
			</div>
		</section>
		<!-- Follow us grid -->
		<section class="container py-lg-4 my-4">
			<h2 class="h3 text-center pb-4 fw-bold">Nous suivre</h2>
			<div
				class="row justify-content-center">
				<!-- Link-->
				<div class="col-md-3 col-sm-4 col-6">
					<div class="bg-white shadow-sm rounded-3 text-center py-3 py-sm-4 mb-2">
						<a href="#">
							<img src="{{ asset('build/images/facebook.png') }}" alt="Icon Facebook">
						</a>
					</div>
				</div>
				<!-- Link-->
				<div class="col-md-3 col-sm-4 col-6">
					<div class="bg-white shadow-sm rounded-3 text-center py-3 py-sm-4 mb-2">
						<a href="#">
							<img src="{{ asset('build/images/twitter.png') }}" alt="Icon Twitter">
						</a>
					</div>
				</div>
				<!-- Link-->
				<div class="col-md-3 col-sm-4 col-6">
					<div class="bg-white shadow-sm rounded-3 text-center py-3 py-sm-4 mb-2">
						<a href="#">
							<img src="{{ asset('build/images/instagram.png') }}" alt="Icon Instagram">
						</a>
					</div>
				</div>
				<!-- Link-->
				<div class="col-md-3 col-sm-4 col-6">
					<div class="bg-white shadow-sm rounded-3 text-center py-3 py-sm-4 mb-2">
						<a href="#">
							<img src="{{ asset('build/images/tiktok.png') }}" alt="Icon Tiktok">
						</a>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
