<!-- Carousel  -->
<div id="carouselControls" class="carousel slide bg-carousel" data-bs-ride="carousel">
	<div class="carousel-inner">
		{% for key,header in headers %}
			<div class="px-lg-5 carousel-item  {% if key == 0 %}active{% endif %}">
				<div class="container">
					<div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="/assets/images/{{ header.illustration }}" alt="{{ header.title }}">
						<div class="mx-auto py-5 px-4 order-lg-1">
							<div class="d-flex flex-column align-items-start">
								<strong class="h2 pb-1 text-warning fw-light">Ecommerce</strong>
								<div class="mb-1 text-light display-5">{{ header.title }}</div>
								<p class="fs-lg text-light pb-3">{{ header.content }}</p>
								<a class="btn btn-primary" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Précédent</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Prochain</span>
	</button>
</div>
