<!-- Footer -->
<footer class="infos pt-5">
	<div class="container">
		<div class="row pb-2">
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">{{ 'subtitle.privacy'|trans }}</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.privacy'|trans }}</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.terms_of_sales'|trans }}</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.legal_notice'|trans }}</a>
					</li>
				</ul>
			</div>
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">{{ 'subtitle.info'|trans }}</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.about'|trans({'name': 'Ecommerce'}) }}</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.delivery'|trans }}</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.faq'|trans }}</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">{{ 'menu.contact'|trans }}</a>
					</li>
				</ul>
			</div>
			<div class="widget col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">{{ 'subtitle.follow_us'|trans }}</h3>
				<ul class="widget-list">
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Facebook</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Twitter</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Instagram</a>
					</li>
					<li class="widget-list-item">
						<a class="widget-list-link" href="#">Tiktok</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 pb-2 mb-4">
				<h3 class="widget-title text-light">{{ 'subtitle.subscribe_newsletter'|trans }}</h3>
				<form class="subscription-form validate" action="#" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
					<div class="input-group flex-nowrap">
						<input class="form-control rounded-start" type="email" name="EMAIL" placeholder="e-mail" required="">
						<button class="btn btn-primary" type="submit" name="subscribe">{{ 'action.subscribe_newsletter'|trans }}</button>
					</div>
					<div class="form-text text-light opacity-50">{{ 'content.subscribe_newsletter'|trans }}</div>
				</form>
			</div>
		</div>
	</div>
	<div class="guarantee pt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-rocket.png') }}" alt="Icon fusée">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">{{ 'guarantee.delivery_title'|trans }}</h3>
							<p class="mb-0 fs-xs text-light opacity-50">{{ 'guarantee.delivery_content'|trans }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-card.png') }}" alt="Icon carte bancaire">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">{{ 'guarantee.payment_title'|trans }}</h3>
							<p class="mb-0 fs-xs text-light opacity-50">{{ 'guarantee.payment_content'|trans }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 mb-4">
					<div class="d-flex">
						<img class="icon" src="{{ asset('build/images/ic-headset.png') }}" alt="Icon casque">
						<div class="ps-2">
							<h3 class="fs-sm text-light mb-1">{{ 'guarantee.support_title'|trans }}</h3>
							<p class="mb-0 fs-xs text-light opacity-50">{{ 'guarantee.support_content'|trans }}</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="hr-light mb-4">
			<div class="pb-4 fs-xs text-light opacity-50">&copy; {{ 'copyright'|trans }}
				<a class="text-light" href="#">Ecommerce</a>
			</div>
		</div>
	</div>
</footer>
