<!-- Navbar 3 Level (Light)-->
<header>
	<!-- Navbar -->
	<nav
		class="navbar navbar-expand-lg navbar-light ">
		<!-- Container wrapper -->
		<div
			class="container">
			<!-- Navbar brand -->
			<a class="navbar-brand mt-2 mt-lg-0" href="#">{{  company_name }}</a>
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Collapsible wrapper -->
			<div
				class="collapse navbar-collapse" id="navbarCollapse">
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('home') }}">{{ 'menu.homepage'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('products') }}">{{ 'menu.products'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{{ 'menu.about'|trans({'name': company_name }) }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{{ 'menu.delivery'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a>
					</li>
				</ul>
				<!-- Left links -->
				<!-- Right elements -->
				<div
					class="d-flex align-items-center">
					<!-- Dropdown flag -->
					<li class="dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ asset('build/images/ic-' ~ app.request.locale ~ '.png') }}" height="25" alt="{{ app.request.locale }}">
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown-language">
							<li>
								<a class="dropdown-item" href="{{ path(app.request.get('_route'), {_locale: 'en'}) }}">
									<img src="{{ asset('build/images/ic-en.png') }}" class="m-1" height="25" alt="English">English
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path(app.request.get('_route'), {_locale: 'fr'}) }}">
									<img src="{{ asset('build/images/ic-fr.png') }}" class="m-1" height="25" alt="Francais">Francais
								</a>
							</li>
						</ul>
					</li>
					{% if app.user %}
						<!-- Icon user -->
						<a class="me-3" href="{{ path('account') }}">
							<img src="{{ asset('build/images/ic-user.png') }}" height="25" alt="Icon de l'utilisateur">
						</a>
						<!-- Icon logout -->
						<a class="me-3" href="{{ path('app_logout') }}">
							<img src="{{ asset('build/images/ic-logout.png') }}" height="25" alt="Icon de déconnexion">
						</a>
					{% else %}
						<!-- Icon login -->
						<a class="me-3" href="{{ path('app_login') }}">
							<img src="{{ asset('build/images/ic-login.png') }}" height="25" alt="Icon de connexion">
						</a>
					{% endif %}
					<!-- Icon cart -->
					<a class="me-3" href="{{ path('cart') }}">
						<span class="badge badge-pill bg-danger">1</span>
						<img src="{{ asset('build/images/ic-shopping-cart.png') }}" height="25" alt="Icon du panier">
					</a>
				</div>
				<!-- Right elements -->
			</div>
			<!-- Collapsible wrapper -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</header>
