{% extends 'base.html.twig' %}

{% block title %} {{ 'title.our_product'|trans }} {{ parent() }}
{% endblock %}

{% block body %}
	<!-- Products grid -->
	<section class="container-fluid">
		<div class="row pt-5">
			<div class="col-md-3">
				<h2 class="h3 text-center py-4 fw-bold">{{ 'subtitle.filter'|trans }}</h2> {{ form(form) }}
				</div>
				<div class="col-md-9 section">
					<h1 class="section-title h2">{{ 'title.list_product'|trans }}</h1>
					<p>{{ 'product.count'|trans({'count': products|length }) }}</p>
					<div class="row mx-3" id="list">
						{% for product in products %}
							<!-- Product-->
							<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4 item">
								<article class="product-card">
									<a class="product-img-top d-block overflow-hidden" href="{{ path('product', { 'slug' : product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}"></a>
									<div class="product-body">
										<span class="product-meta fs-xs">{{ product.category }}</span>
										<a href="{{ path('product', { 'slug' : product.slug }) }}">
											<h3 class="product-title fs-base">{{ product.name }}</h3>
										</a>
										<div class="d-flex">
											<div class="product-price">
												<span class="fs-lg">{{ price(product.price) }}
												</span>
											</div>
										</div>
									</div>
								</article>
							</div>
						{% else %}
							<p>{{ 'notification.empty_product'|trans }}</p>
						{% endfor %}
					</div>
					<div class="text-center pt-3">
						<button id="loadMore" class="btn btn-outline-accent" data-load-more-nb-element="8">{{ 'action.loadmore'|trans }}</button>
					</div>
				</div>
			</div>
		</section>
		{% include "base/_brand.html.twig" %}
	{% endblock %}
