{% extends 'base.html.twig' %}

{% block title %} {{ 'title.contact_us'|trans }} {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container section">
		<div class="row justify-content-center">
			<h1 class="section-title h2">{{ 'title.contact_us'|trans }}</h1>
			<div class="col-md-4">
				<h2 class="h3 py-4 fw-bold">{{ 'subtitle.contact_info'|trans }}</h2>
				<p>{{ 'content.contact_info'|trans({'name': 'Ecommerce' })|raw }}</p>
			</div>
			<div class="col-md-8 shadow rounded-3 py-3 py-sm-4 mb-2">
				{% for message in app.flashes('notice') %}
					<div class="alert alert-info"> {{message}}
					</div>
				{% endfor %} {{form(form)}}
				</div>
			</div>
		</section>
		{% include "base/_brand.html.twig" %}
	{% endblock %}
