{% extends 'base.html.twig' %}


{% block title %} {{ 'title.payment'|trans }} {{ parent() }}
{% endblock %}

{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
	<section class="container section pt-5">
		<h1 class="section-title h2">{{ 'title.summary'|trans }}</h1>
		<p>{{ 'help.verify_before_paying'|trans }}</p>


		<div class="row">
			<div class="col-md-6">

				<strong>{{ 'order.delivery_address'|trans }}</strong>
				<br>
				<div class="form-check mt-4"> {{delivery_address|raw}}
				</div>

				<strong>{{ 'order.my_carrier'|trans }}</strong>
				<br>
				<div class="form-check"> {{carrier.name}}
					<br> {{carrier.description}}
					<br> {{ price(carrier.price) }}
					&euro;
				</div>


			</div>

			<div class="col-md-6">
				<strong>{{ 'order.command'|trans }}</strong>
				<div>
					{% set totalProducts = 0 %}
					{% for key, product in cart %}
						<div class="row border rounded-3 p-3 mt-2">
							<div class="col-2">
								<a class="product-img-top d-block overflow-hidden" href="{{ path('product', { 'slug' : product.product.slug }) }}">
									<img src="{{ asset('/uploads/' ~ product.product.illustration) }}" alt="{{product.product.name}}">
								</a>
							</div>
							<div class="col-8 my-auto">
								<a href="{{ path('product', { 'slug' : product.product.slug }) }}"> {{product.product.name}}</a><br>
								x {{product.quantity}}
							</div>
							<div class="col-2 my-auto">
								<p>{{ price((product.product.price * product.quantity)) }}
									&euro;</p>
							</div>
						</div>
						{% set totalProducts = totalProducts + ((product.product.price * product.quantity) / 100) %}
					{% endfor %}
				</div>
				<hr>
				<strong>{{ 'order.subtotal'|trans }}
				</strong> {{ totalProducts }}
				&euro;<br>
				<strong>{{ 'order.carrier_price'|trans }}
				</strong> {{ price(carrier.price) }}
				&euro;
				<hr>
				{% set total = (totalProducts + (carrier.price / 100)) | number_format(2, ',', '.')  %}
				<strong>{{ 'order.total'|trans }}
				</strong> {{ total}}
				&euro;
				<br>

				<form action="/commande/create-session/{{ reference }}" method="POST">
					<button type="submit" class="btn btn-success btn-block mt-3">{{ 'action.confirm_and_pay'|trans }} {{total}}
						&euro;</button>
				</form>
			</div>
		</div>
	</section>
	{% include "base/_brand.html.twig" %}
{% endblock %}
